@model IEnumerable<CDNCRUD.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Freelancers List</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-primary"})
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillSets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hobby)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillSets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hobby)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
